.love-ya-like-a-sister-regular {
  font-family: "Love Ya Like A Sister", cursive;
  font-weight: 400;
  font-style: normal;
}

body{
  background-color:#0d1322;
  font-family: "Love Ya Like A Sister", cursive;
  font-weight: 400;
  font-style: normal;
  color:darkseagreen
}
.nav {
  display: flex;
  height: 15vh;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #0d1322;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-left: 1px solid #21e909;
}

.logo img {
  height:50px;
  width: 60px;
}

.info ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.info ul li {
  margin-left: 20px;
  font-size: 16px;
  padding-bottom: 25px;
}

.info ul li a {
  text-decoration: none;
  color: #fff;
}
.info ul li a:hover {
  color: #21e909;
  animation: ease-in-out;
}

/* Mobile responsive */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .info ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .info ul li {
    margin: 10px 0;
  }
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.App {
  flex: 1;
  max-width: 600px;
}

h2 {
  font-size: 2rem;
  color: #333;
}

p {
  font-size: 1.2rem;
  color: #666;
}

button {
  padding: 10px 20px;
  background-color: #21e909;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1bc107;
}

.result {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.resultUrl a {
  color: #007bff;
  text-decoration: none;
  font-size: 1rem;
}

.resultUrl a:hover {
  text-decoration: underline;
}

.share img {
  max-width: 100%;
  height: auto;
  border-radius: 25%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .App {
    max-width: 100%;
    text-align: center;
  }

  button {
    width: 100%;
    margin-top: 10px;
  }

  .result {
    flex-direction: column;
  }

  .resultUrl {
    margin-bottom: 10px;
  }
}





.htw_container {
  text-align: center;
  padding: 20px;
  background-color: #21e909;
  border-radius: 10px;
  margin-bottom: 20px;
}

.htw_container h2 {
  font-size: 2rem;
  color: #333;
}

.htw_container p {
  font-size: 1.2rem;
  color: #666;
}

.work_process, .next_step {
  background-color: #21e909;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.work_process h3, .next_step h3 {
  font-size: 1.5rem;
  color: #21e909;
  margin-bottom: 10px;
}

.work_process p, .next_step p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .htw_container, .work_process, .next_step {
    padding: 15px;
  }

  .htw_container h2 {
    font-size: 1.8rem;
  }

  .work_process h3, .next_step h3 {
    font-size: 1.4rem;
  }

  .work_process p, .next_step p {
    font-size: 0.95rem;
  }
}
